{% extends 'admin/admin.html' %} {% block title %}News and Announcement{% endblock %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Post and Announcement</h1>
    <a class="btn btn-primary" href="{% url 'create_news' %}" type="button">Add Post</a>
</div>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
        DataTables documentation</a>.</p>
<div class="row mb-4">
    <div class="col-12">
        <div class="card card-body">
            {% load widget_tweaks %}
            <form action="" method="GET">
                {{news_filter.forms}}
                <div class="row">
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-select" required name="type" aria-label="Default select example">
                                <option value="" selected>Type</option>
                                <option value="Featured">Featured</option>
                                <option value="Heading 1">Heading 1</option>
                                <option value="Heading 2">Heading 2</option>
                                <option value="News">News</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label>.</label>
                            <button class="form-control btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-xl-12 mt-4">
    <div class=" card rounded-0  mb-4">
        <div class=" card card-body border-0  table-responsive ">
            <table class="table table-bordered text-center align-middle">
                <tr class="p-0 mb-2 h6 text-dark-100 bolder">
                    <th scope="col">Title</th>
                    <th scope="col ">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Feature</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                <tbody class="p-5 ">


                    {% for news in news %}
                    <tr class="small text-center lh-1">
                        <td>{{news.title}}</td>
                        <td>
                            <div class="d-inline-block text-truncate" style="max-width: 300px;">{{news.desc}}</div>
                        </td>
                        <td>{{news.date_created}}</td>
                        <td>{{news.type}}</td>
                        <td class="text-center">
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h fa-lg fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink-{{order.id}}">
                                    <div class="dropdown-header">Action Dropdown: </div>
                                    <a href="{% url 'update_news' news.id %}" class="dropdown-item">Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'delete_news' news.id %}" class="dropdown-item">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}