{% extends 'admin/admin.html' %} {% block title %}Dues{% endblock %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dues</h1>
    <a class="btn btn-primary" href="{% url 'register' %}" type="button">Register Patient</a>
</div>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
        DataTables documentation</a>.</p>

{% endblock %}