{% extends 'admin/admin.html' %} {% block title %}Schedule{% endblock %}
{% block content %}
{% load static %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Schedule</h1>
    <a class="btn btn-primary" href="{% url 'create_schedule' %}" type="button"> Create New Event</a>
</div>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
        DataTables documentation</a>.</p>

<div class="d-flex justify-content-center">
    <div id="calendar"></div>
</div>
<hr>
<div class="container-fluid mb-0">
    <h1>Events Created</h1>
</div>
<div class="col-xl-12 mt-4">
    <div class=" card rounded-0  mb-4">
        <div class=" card card-body border-0  table-responsive ">
            <table class="table table-bordered text-center align-middle">
                <tr class="p-0 mb-2 h6 text-dark-100 bolder">
                    <th scope="col">Title</th>
                    <th scope="col ">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">is Every Year</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                <tbody class="p-5 ">
                    {% for schedule in schedule%}
                    <tr class="small text-center lh-1">
                        <td>{{schedule.name}}</td>
                        <td>
                            <div class="d-inline-block text-truncate" style="max-width: 150px;">{{schedule.description}}
                            </div>
                        </td>
                        <td> {{schedule.date}}</td>
                        <td class="align-middle">
                            {% if schedule.type == "Holiday" %}
                            <span class="badge p-2 bg-success align-middle">{{schedule.type}}</span>
                            {% elif schedule.type == "Event" %}
                            <span class="badge p-2 bg-danger align-middle">{{schedule.type}}</span>
                            {% else %}
                            <span class="badge p-2 bg-warning align-middle">{{schedule.type}}</span>
                            {% endif %}
                        </td>
                        <td>{{schedule.everyYear}}</td>
                        <td class="text-center">
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h fa-lg fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Action Dropdown: </div>
                                    <a href="{% url 'update_schedule' schedule.id %}" class="dropdown-item">Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'delete_schedule' schedule.id %}" class="dropdown-item">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>
<script type="text/javascript" src="{% static '/js/admin.js' %}"></script>
<script>
    var item = JSON.parse(jsonstr)

    function myFunction(item) {
        for (const x of item) {
            x.date = x.date.split(':')

        }
        return item
    }


    $(document).ready(function () {
        $('#calendar').evoCalendar({
            theme: "Orange Coral",
            todayHighlight: true,
            format: 'yyyy,mm,dd',
            eventHeaderFormat: 'MM d, yyyy',
            calendarEvents: myFunction(item)


        });
    })


</script>

{% endblock %}