{% extends 'accounts/base.html' %} {% block title %}About{% endblock %}
{% block content %}


<a type="button" href="#top" class="goto-about" aria-label="Back to top" title="Back to top">Top</a>

<section class="about" style="margin-top:0">
    <div class="jumbotron text-left about-background">
        <div class="divide d-flex justify-content-around ">

            <div class="ads  on fade-right">
                <p>We Care About <br><span>Your Eyes</span></p>
                <h6>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua.
                </h6>
                <a type="button" class="btn btn-danger button" href="#about-welcome">Get Started</a>
            </div>
            <div class="container on fade-left">
                <h2 class="title-1">Our Story</h2>
                <h6>Every person deserves to be able to enjoy the world around them for as long as possible. By making
                    simple lifestyle changes and taking care of your eyesight, you can have a huge impact on your vision
                    health. So take care of your eyes! There’s no time like the present!
                </h6>
            </div>
        </div>
    </div>
</section>

<section class=" d-flex justify-content-around" id="about-welcome">
    <div class="container-flow about-welcome welcome col-md-3">
        <p>Welcome to Company</p>
        <p>Wear A Pair Of Glasses <br><span>Protect Your Vision </span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla facilisi nullam. Phasellus
            egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Ac odio tempor orci dapibus ultrices.
            Consectetur
            libero id faucibus nisl tincidunt eget.
        </p>
        <a type="button" class="btn btn-danger button" href="#about-list">Next</a>
    </div>
    <div class="author-section container">
        <p>Cebu City, Cebu 6000</p>
        <div class="image text-center">
            <img src="https://images.pexels.com/photos/1647905/pexels-photo-1647905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="img-thumbnail rounded" alt="...">
        </div>
        <p class="text-justify mt-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Amet commodo nulla facilisi nullam. Phasellus egestas tellus rutrum tellus pellentesque eu
            tincidunt tortor. Ac odio tempor orci dapibus ultrices. Consectetur libero id faucibus nisl tincidunt eget.
        </p>
    </div>
</section>
<br>
<section class="about my-5" id="about-list">
    <div class="jumbotron text-left about-list">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="main-header ">
                        <h1 class="fs-4">We can help in your <b class="emphasize">Vision</b> and <b
                                class="emphasize">Eye Care
                                Treatment.</b></h1>
                        <h3>Below are listed some topics that we can work on.</h3>

                    </div>
                    <a type="button" class="btn btn-danger button" href="#doctor-staff">Next</a>
                    <hr>
                </div>
            </div>
            <div class="row mt-3">
                <ul id="card-slider">
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Myopia</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Presbyopia</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Migraine</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Glaucoma</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ptosis</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Eye Strain</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Blurryness</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="mt-5 text-white">
                Do not stay up late. (Discipline yourself.) Protect your eyes from light to reduce stress and strain on
                the optic nerve. The human eye can only recognize 10 percent of the visible light spectrum, so when
                you're in a dark environment, try to squint a little. Your retina can be damaged by excessive exposure
                to light, so worrying about damage may seem unnecessary.
            </p>
            <p class=" text-white">
                Wear a pair of glasses. Being nearsighted or farsighted means your eyes aren't focusing correctly on
                things to
                see
                them clearly in front of you. Over time, this problem can get worse. Wearing glasses helps keep your
                eyes
                healthy
                and able to focus.
            </p>
        </div>
        <hr id="consult" style="border: none;">
</section>
{% include 'accounts/components/consultation.html' %}

<section class="container flex-wrap text-center offer-a doctor-staff" id="doctor-staff">
    <p>WHY CHOOSE US?</p>
    <p class="mb-4">Doctors & Staff</p>
    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
    <hr>
    <div class="row mt-5">
        <div class="col-md-6 reveal fade-left  ">
            <div class="image text-center" style="max-width: 500px;max-height: 500px;">
                <img src="https://images.pexels.com/photos/2182979/pexels-photo-2182979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="img-thumbnail rounded" alt="...">
            </div>
        </div>
        <div class="col-md-6 reveal fade-right ">
            <div class=" offer-abox text-justify">
                <i></i>
                <br>
                <p class="offer-title">Dr. John Doe</p>
                <p class="offer-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-6 reveal fade-left">
            <div class=" offer-abox text-justify">
                <i></i>
                <br>
                <p class="offer-title text-right">Dr. Jane Doe</p>
                <p class="offer-desc">Pretium viverra suspendisse potenti nullam. Et odio pellentesque diam volutpat
                    commodo.
                    Ac tortor
                    vitaepurus faucibus ornare suspendisse. Pretium viverra suspendisse potenti nullam ac tortor. Turpis
                    massatincidunt dui ut ornare. Orci a scelerisque purus semper eget. Sed augue lacus viverra vitae
                    congue euconsequat ac felis. Sit amet nisl suscipit adipiscing bibendum est ultricies.
                </p>
            </div>
        </div>
        <div class="col-md-6 reveal fade-right ">
            <div class="image text-center" style="max-width: 500px;max-height: 500px;">
                <img src="https://images.pexels.com/photos/4173249/pexels-photo-4173249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="img-thumbnail rounded" alt="...">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-6 reveal fade-left">
            <div class="image text-center" style="max-width: 500px;max-height: 500px;">
                <img src="https://images.pexels.com/photos/6303550/pexels-photo-6303550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="img-thumbnail rounded" alt="...">
            </div>
        </div>
        <div class="col-md-6 reveal fade-right ">
            <div class=" offer-abox text-justify">
                <i></i>
                <br>
                <p class="offer-title">Technicians</p>
                <p class="offer-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-6 reveal fade-left">
            <div class=" offer-abox text-justify">
                <i></i>
                <br>
                <p class="offer-title text-right ">Receptionist</p>
                <p class="offer-desc">Pretium viverra suspendisse potenti nullam. Et odio pellentesque diam volutpat
                    commodo.
                    Ac tortor
                    vitaepurus faucibus ornare suspendisse. Pretium viverra suspendisse potenti nullam ac tortor. Turpis
                    massatincidunt dui ut ornare. Orci a scelerisque purus semper eget. Sed augue lacus viverra vitae
                    congue euconsequat ac felis. Sit amet nisl suscipit adipiscing bibendum est ultricies.
                </p>
            </div>
        </div>
        <div class="col-md-6 reveal fade-right ">
            <div class="image text-center" style="max-width: 500px;max-height: 500px;">
                <img src="https://images.pexels.com/photos/3801426/pexels-photo-3801426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="img-thumbnail rounded" alt="...">
            </div>
        </div>
    </div>
</section>



{% endblock %}