{% extends 'accounts/base.html' %} {% block title %}Calendar{% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
<link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css">

<div class="jumbotron calendar-sections">

    <section class="calendar-section container" style="position:relative">
        <h2 class="display-5">Calendar</h2>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

        <div style="position:relative" id="calendar"></div>
    </section>
    <hr id="consult" style="border: none;">
</div>


{% include 'accounts/components/consultation.html' %}


<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>
<script type="text/javascript" src="{% static '/js/admin.js' %}"></script>
<script type="text/javascript" src="node_modules/mdbootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/mdbootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="node_modules/mdbootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="node_modules/mdbootstrap/js/mdb.min.js"></script>
<script>
    var item = JSON.parse(jsonstr)

    function myFunction(item) {
        for (const x of item) {
            x.date = x.date.split(':')

        }
        return item
    }


    $(document).ready(function () {
        $('#calendar').evoCalendar({
            theme: "Orange Coral",
            todayHighlight: true,
            format: 'yyyy,mm,dd',
            eventHeaderFormat: 'MM d, yyyy',
            calendarEvents: myFunction(item)


        });
    })


</script>


{% endblock %}