{% extends 'accounts/base.html' %} {% block title %}Forgot Password{% endblock %}
{% block content %}
{% load svg %}
<main class="my-5">
    <section class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-12 col-lg-5 order-2 order-lg-1 text-center text-lg-left">
                    <h1 class="">Password Reset Sent</h1>
                    <p class="lead my-4">We’ve emailed you instructions for setting your password, if an account exists
                        with the email you entered. You should receive them shortly.</p>

                    <p class="lead my-4">If you don’t receive an email, please make sure you’ve entered the address you
                        registered with,
                        and check your spam folder.</p>
                    <a href="{% url 'login' %}"
                        class="btn btn-primary d-inline-flex align-items-center justify-content-center mb-4">

                        Go to Login Page
                    </a>
                </div>
                <div
                    class="col-12 col-lg-7 order-1 order-lg-2 text-center d-flex align-items-center justify-content-center">

                    <div>{% svg 'empty' %}</div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}