{% extends 'accounts/base.html' %} {% block title %}Calendar{% endblock %}
{% block content %}
{% load static %}

<a type="button" href="#top" class="goto-about" aria-label="Back to top" title="Back to top">Top</a>

<section class="about mb-5 " id="about-list">
    <div class="jumbotron text-left about-list rounded-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="main-header ">
                        <h1 class="fs-4">We can help in your <b class="emphasize">Vision</b> and <b
                                class="emphasize">Eye Care
                                Treatment.</b></h1>
                        <h3>Below are listed some topics that we can work on.</h3>

                    </div>

                    <hr>
                </div>
            </div>
            <div class="row mt-3">
                <ul id="card-slider">

                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Migraine</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Glaucoma</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ptosis</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Eye Strain</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Blurryness</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla
                                    facilisi nullam.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <h3 class=" text-white">Take Note</h3>
            <p class=" text-white">
                Do not stay up late. (Discipline yourself.) Protect your eyes from light to reduce stress and strain on
                the optic nerve. The human eye can only recognize 10 percent of the visible light spectrum, so when
                you're in a dark environment, try to squint a little. Your retina can be damaged by excessive exposure
                to light, so worrying about damage may seem unnecessary.
            </p>
            <p class=" text-white">
                Wear a pair of glasses. Being nearsighted or farsighted means your eyes aren't focusing correctly on
                things to
                see
                them clearly in front of you. Over time, this problem can get worse. Wearing glasses helps keep your
                eyes
                healthy
                and able to focus.
            </p>
        </div>

</section>

<section class="container mb-5" style="color: #4d4d4d;">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="sticky-top mb-5">
                <div class=" nav card  flex-column nav-pills mb-3 text-left" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <button class="nav-link active text-left border-0 m-3" id="v-pills-messages-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab"
                        aria-controls="v-pills-messages" aria-selected="false">Lenses And Frames</button>
                    <button class="nav-link  text-left border-0 mx-3 mb-3" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">Vision Problems</button>
                    <button class="nav-link text-left border-0 mx-3 mb-3" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Eye Conditions</button>

                    <button class="nav-link text-left border-0 mx-3 mb-3" id="v-pills-settings-tab"
                        data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab"
                        aria-controls="v-pills-settings" aria-selected="false">Contacts</button>
                </div>
                <div class="card  mb-4 d-none d-lg-block">
                    <figure class="text-center p-4">
                        <blockquote class="blockquote lead">
                            <p>A vision is not just a picture of what could be; it is an appeal to our better selves, a
                                call to become something more.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Rosabeth Moss Kanter <cite title="Source Title">Vision</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <h1> Vision Problems</h1>
                    <hr>
                    <p>There are several various types of vision disorders that could be damaging your eyesight. But,
                        for the
                        sake of this article, we will be focusing on four of the most prevalent reasons of impaired
                        eyesight.
                        These, along with many other vision abnormalities, are addressed with care and expertise by the
                        eye care
                        professionalsCompany
                        Family
                        Eye
                        Care Clinic.</p>
                    <hr>

                    <h3>Hyperopia (Farsightedness)</h3>
                    <p>Farsightedness, medically known as hyperopia, refers to vision that is good at a distance but not
                        at
                        close
                        range.
                        Farsightedness occurs when the eyeball is shorter than normal, as measured from front to back,
                        or when
                        the
                        cornea has too little curvature. This reduces the distance between the cornea and retina,
                        causing light
                        to
                        converge behind the retina, rather than on it.

                    </p>
                    <p> If you are mildly farsighted, your eye care provider may not recommend corrective treatment at
                        all.
                        However,
                        if
                        you are moderately or severely hyperopic, you may have several treatment options available,
                        including
                        eyeglasses, contacts, LASIK and photorefractive keratectomy (PRK).</p>
                    <hr>
                    <h3>Myopia (Nearsightedness)</h3>
                    <p>Nearsightedness, medically known as myopia, refers to vision that is good at close range but not
                        at a
                        distance. It generally occurs because the eyeball is too “long” as measured from front to back.


                    </p>
                    <p> Nearsightedness is diagnosed during routine eye exams and possible treatments include
                        eyeglasses,
                        contacts, acrylic corneal implants, LASIK, radial keratotomy (RK) and photorefractive keratotomy
                        (PRK).
                    </p>
                    <hr>
                    <h3>Presbyopia (Aging Eyes)</h3>
                    <p>Aging eyes, medically known as presbyopia, is a condition in which the lens of the eye gradually
                        loses
                        its flexibility, making it harder to focus clearly on close objects such as printed words.
                        Distance
                        vision, on the other hand, is usually not affected.


                    </p>
                    <p> Unfortunately, presbyopia is an inevitable part of aging and cannot be prevented by diet,
                        lifestyle or
                        visual habits. However, it is treatable with several types of corrective lenses, including
                        progressives,
                        bifocals and trifocals, single-vision reading glasses, multifocal contact lenses and monovision
                        therapy.
                    </p>
                    <hr>
                    <h3 class="">Astigmatism</h3>
                    <p>Astigmatism is an uneven or irregular curvature of the cornea or lens, which results in impaired
                        or
                        distorted vision. Other symptoms of astigmatism include the need to squint, eye strain from
                        squinting,
                        headaches and eye tiredness.
                    </p>
                    <p> In actuality, most individuals have some degree of astigmatism, which is normally present at
                        birth and
                        is
                        considered to be genetic. In lesser situations, therapy may not be necessary but is undoubtedly
                        advantageous. Moderate to severe astigmatism may be cured with corrective eyeglasses or LASIK
                        surgery.
                    </p>
                    <hr>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1> Eye Conditions</h1>
                    <hr>
                    <p>There are several various kinds of eye disorders that might be hurting your vision or could have
                        long-term effects if not treated correctly or immediately. We list some of the most frequent
                        conditions below. If you suspect you or someone in your family has one of these illnesses,
                        please contact the Company for an assessment and advice.</p>
                    <hr>

                    <h3>Dry Eye Syndrome</h3>
                    <p>Dry eye syndrome refers to a breakdown in the quantity or quality of tears to moisten, cleanse
                        and protect the eyes. This is significant because, with each blink, tears protect the surface of
                        the eye, washing away dust and microorganisms. When this protective coating dries up, the eyes
                        may feel “gritty” or burn and can be more sensitive to light. In extreme cases, vision can be
                        blurred.


                    </p>
                    <p>
                        If you suspect that you have dry eye, see your eye doctor. Proper care will not only increase
                        your comfort – it will protect your eyes. Your eye care provider can perform a series of tests
                        to determine if you have dry eyes.</p>
                    <hr>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h1> Lenses and Frames</h1>
                    <hr>
                    <p>Selecting your lenses and frames is an extremely personal decision. A broad selection of
                        solutions are available that may be personalized to fit not only your medical demands but also
                        your fashion tastes.
                    </p>
                    <p>
                        Highlight your features, experiment with color, and boost eyesight for various applications such
                        as reading, driving and playing sports.</p>
                    <p>
                        With all the options available, the experience may be difficult without the right guidance.
                    </p>
                    <hr>

                    <h3>Eyeglasses</h3>
                    <p>Design, material, and treatments are the three components that make up a pair of prescription
                        lenses. It is vital to pick the proper mix of these aspects for your unique visual demands and
                        to always contact your eye care practitioner.
                    </p>
                    <p>
                        The expert personnel at the Company will evaluate long-term wearing comfort, style, features,
                        and function when proposing a new pair of eyeglasses. The spectacles become as individual as the
                        person taking them home.
                    </p>
                    <hr>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <h1> Contact Lenses</h1>
                    <hr>
                    <p>There are a number of reasons why you might prefer contact lenses to standard eyewear: a
                        glasses-free look, hassle-free vision correction, wearing non-prescription sunwear and goggles,
                        or the convenience of not having to worry about misplacing your glasses. If you have a high
                        prescription or astigmatism, contact lenses may provide more enhanced vision correction than
                        glasses. Today, you can even replace your bifocal glasses with bifocal contact lenses.
                    </p>
                    <p>
                        Your eye care provider can recommend the best contact lenses for you based on a complete eye
                        examination and a review of your visual needs both at work and play. Since most people can wear
                        more than one type of lens, it’s important to know what the choices are and the advantages and
                        disadvantages to each.</p>
                    <hr>

                    <h3>Soft Lenses</h3>
                    <p>These lenses are comfortable to wear and must be replaced monthly, weekly or daily depending on
                        the type you choose. Soft lenses are often recommended for sports because they fit closer to the
                        eye and are more difficult to dislodge. They can provide correction for most prescriptions
                        including astigmatism. Today, with the introduction of newer materials like silicone hydrogels,
                        which allow more oxygen to the eye, patients find it easier than ever to wear soft lenses
                        comfortably.
                    </p>
                    <hr>
                </div>
            </div>
            <div class="card  mb-4 d-lg-none">
                <figure class="text-center p-4">
                    <blockquote class="blockquote lead">
                        <p>A vision is not just a picture of what could be; it is an appeal to our better selves, a
                            call to become something more.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Rosabeth Moss Kanter <cite title="Source Title">Vision</cite>
                    </figcaption>
                </figure>
            </div>
        </div>


    </div>
    <hr id="consult" style="border: none;">
</section>


{% include 'accounts/components/consultation.html' %}

<style>

</style>

{% endblock %}