{% load static %}
<ul class="navbar-nav bg-gradient-primary rounded sidebar sidebar-dark accordion" style="min-height: 50vh;"
    id="accordionSidebar">

    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'person_info' patient.id %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>General information</span></a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Interface
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'person_list_case' patient.id %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Cases Admitted</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'person_list_rx' patient.id %}">
            <i class="fas fa-fw fa-list"></i>
            <span>List of RX</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'person_billing' patient.id %}">
            <i class="fas fa-fw fa-list"></i>
            <span>Billings</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'person_order' patient.id %}">
            <i class="fas fa-fw fa-list"></i>
            <span>Orders</span></a>
    </li>

</ul>