{% load static %}
<ul class="navbar-nav bg-gradient-primary  sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon ">
            <img id="logonav" src="{% static 'images/logo.ico' %}" width="60" height="60"
                class="d-inline-block align-top" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">Company

        </div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Records
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'patient list' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>Patient List</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'appointment' %}">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Appointment</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'orders' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Orders</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'billing' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Billing</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Site Management
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'news' %}">
            <i class="fas fa-fw fa-money-check"></i>
            <span>News and Announcement</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule' %}">
            <i class="fas fa-fw fa-money-check"></i>
            <span>Schedule</span></a>
    </li>



    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components,
            and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to
            Pro!</a>
    </div>
</ul>