{% extends "admin/components/person.html" %}
{% block patient %}
{% comment %} {% load svg %} {% endcomment %}
<main class="my-5">
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container mt-5">
            <div class="row justify-content-center form-bg-image  mt-5">
                <div class="col-xl-5 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-4 w-100 fmxw-500">
                        <div class="col-12  order-2 order-lg-1 text-center text-lg-left">
                            <form action="{% url 'delete_case' patient.id case.id %}" method="POST">
                                {% csrf_token %}
                                <h1 class="">Delete Case</h1>
                                <p class="lead my-4">Are you sure you want to Case?</p>

                                <a href="{% url 'person_list_case' patient.id %}"
                                    class="btn btn btn-outline-secondary d-inline-flex align-items-center justify-content-center mb-4">

                                    Cancel
                                </a>
                                <button type="submit"
                                    class="btn btn-primary d-inline-flex align-items-center justify-content-center mb-4">

                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
                <div
                    class="col-12 col-lg-7 order-1 order-lg-2 text-center d-flex align-items-center justify-content-center">

                    <div>{% svg 'empty' %}</div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}