{% extends "admin/admin.html" %}
{% block content %}
{% load crispy_forms_tags %}


<main class="">
    <section class="vh-lg-100  bg-soft d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center form-bg-image  mt-5">
                <div class="col-xl-6 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-4 w-100 fmxw-500">
                        <div class="col-12  order-2 order-lg-1 text-center text-lg-left">

                            <h1 class="">Create New Post</h1>
                            <p class="lead ">Fill out the fields below!</p>
                            <hr>
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class=" mb-3">
                                    <div class="form-group">
                                        <label for="phone">Title:</label>
                                        <input class="form-control rounded-0" name="title" id="birthday" type="text">
                                    </div>
                                </div>
                                <div class=" mb-3">
                                    <div>
                                        <label>Description:</label>
                                        <textarea class="form-control" type="text" rows="3" name="desc"></textarea>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Type</label>
                                    <select class="form-select" required name="type"
                                        aria-label="Default select example">
                                        <option selected value="News">News</option>
                                        <option value="Featured">Featured</option>
                                        <option value="Heading 1">Heading 1</option>
                                        <option value="Heading 2">Heading 2</option>

                                    </select>
                                </div>
                                <div class=" mb-3">
                                    {{form.profile_pic}}
                                </div>
                                <hr>
                                <a href="{% url 'news'  %}"
                                    class="btn btn btn-outline-secondary d-inline-flex align-items-center justify-content-center mb-4">

                                    Cancel
                                </a>
                                <button type="submit"
                                    class="btn btn-primary d-inline-flex align-items-center justify-content-center mb-4 col-5">

                                    Create New Post
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock %}