{% extends 'admin/components/person.html' %} {% block title %}Patients{% endblock %}
{% block patient %}

<form method="POST">
    <div class="row">

        {% csrf_token %}
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <div class="d-sm-flex align-items-start justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Update General Information</h1>

                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div>
                            <label for="first_name">First Name</label>
                            <input class="form-control" id="first_name" type="text" name="first_name"
                                value="{{patient.first_name}}">
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div>
                            <label>Middle Name</label>
                            <input class="form-control" id="last_name" type="text" name="middle_name"
                                value="{{patient.middle_name}}">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div>
                            <label for="last_name">Last Name</label>
                            <input class="form-control" id="last_name" type="text" name="last_name"
                                value="{{patient.last_name}}">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 mb-3">
                        <label for="birthday">Birthday</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-calendar"></i>
                            </span>
                            <input class="form-control" id="birthday" type="date" name="birthday"
                                value="{{patient.birthday}}" placeholder="{{patient.birthday}}">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email">Gender</label>
                        <div class="row justify-content-around col-12">
                            {% if patient.gender == 'Male' %}
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" checked
                                    value="Male">
                                <label class="form-check-label" for="exampleRadios1">
                                    Male
                                </label>

                            </div>
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="gender" id="exampleRadios2"
                                    value="Female">
                                <label class="form-check-label" for="exampleRadios2">
                                    Female
                                </label>
                            </div>
                            {% else %}
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="gender" id="exampleRadios1"
                                    value="Male">
                                <label class="form-check-label" for="exampleRadios1">
                                    Male
                                </label>

                            </div>
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" checked
                                    value="Female">
                                <label class="form-check-label" for="exampleRadios2">
                                    Female
                                </label>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" type="email" placeholder="{{ patient.email }}"
                                name="email" value="{{ patient.email }}">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input class="form-control" id="phone" type="text" name="phone"
                                placeholder="+12-345 678 910" value="{{ patient.phone }}">
                        </div>
                    </div>
                </div>

                <h2 class="h5 ">Location</h2>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="address">Street</label>
                            <input class="form-control" id="address" type="text" name="street"
                                value="{{ patient.street }}" placeholder="Enter your Street">
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label for="number">Barangay</label>
                            <input class="form-control" id="number" type="text" name="barangay"
                                value="{{ patient.barangay }}" placeholder="Enter your Barangay">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 mb-3">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input class="form-control" id="city" type="text" name="city" placeholder="Enter your City"
                                value="{{ patient.city }}">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">ZIP</label>
                            <input class="form-control" id="zip" type="text" value="{{ patient.zip }}" name="zip"
                                placeholder="ZIP">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-body border-0 shadow mt-4 p-4 ">
                <div class="col-md-12 mb-3">
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary col-12"> Case History Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover rounded-top"
                            data-background="{{ ASSETS_ROOT }}/img/profile-cover.jpg">
                        </div>
                        <div class="card-body pb-5">
                            <img src="{{ ASSETS_ROOT }}/img/team/profile-picture-1.jpg"
                                class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            <h4 class="h3">
                                Neil Sims
                            </h4>
                            <h5 class="fw-normal">
                                {{ request.user.username }}
                            </h5>
                            <p class="text-gray mb-4">
                                {{ request.user.email }}
                            </p>
                            <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z">
                                    </path>
                                </svg>
                                Connect
                            </a>
                            <a class="btn btn-sm btn-secondary" href="#">Send Message</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="card-body pb-5">
                            <h4 class="h3">
                                Last Visit
                            </h4>
                            <p class="text-gray mb-4">
                                Date
                            </p>
                            <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z">
                                    </path>
                                </svg>
                                Connect
                            </a>
                            <a class="btn btn-sm btn-secondary" href="#">Send Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
{% endblock %}